<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samantha Camus | Code and Art - Home</title>


    <meta name="description" content="Portfolio website of Samantha Camus." />

    <meta name="author" content="Samantha Camus | xdothackerx" />
    <meta name="copyright" content="template: ZURB, inc. Copyright (c) 2013" />

    <link rel="stylesheet" href="../assets/css/templates/foundation.css" />
    <script src="../assets/js/modernizr.js"></script>
  </head>

  <body>
  <div align="center">
    <h1>UNDER CONSTRUCTION</h1>
    <h4>Sorry for the mess!</h4>
  </div>
<!-- First Band (Slider) -->


  <div class="row">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit>
        <% @projects.each do |project| %>
        <li><%= link_to image_tag(project.image), project_path(project) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<hr/>
<hr/>


<!-- Three-up Content Blocks -->

  <div class="row">
    <div class="large-4 columns">
      <img src="http://placekitten.com/400/300" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://placekitten.com/400/300" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://placekitten.com/400/300" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    </div>

<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>I'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="/contact" class="radius button right">Contact Me</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Samantha Camus. Website built with Rails and Foundation.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/templates/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
