<div class="row" align="center">
  <h1>Stuff I've Done</h1><br />
  <p>A gallery of the coding projects I've done so far, big and small!</p>
  <% if policy(@projects).publish? %>
    <p><%= link_to 'New Project', new_project_path, id: :new_link, remote: true %></p>
  <% end %>

  <div id="projects" class="large-block-grid-1 text-center">
    <%= render @projects %>
  </div>
</div>
