<div class="row" align="center">
  <h1>Stuff I've Done</h1><br />

  <div id="projects" class="large-block-grid-4">
    <%= render @projects %>
  </div>
  <% if policy(@projects).publish? %>
    <%= link_to 'New Project', new_project_path, id: :new_link, remote: true %>
  <% end %>
</div>
