<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Tech:</strong>
  <%= @project.tech %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Back', projects_path %>
