<% render 'flash' %>
<div align="center"><h1>Say Hello!</h1>
  <br><b>Questions? Want to speak with me personally? Feel free to email me here - I'd love to hear from you!</b><br>
  <br>You can also find me on <a href="https://github.com/xdothackerx">Github</a>, <a href="https://www.linkedin.com/in/samanthacamus">LinkedIn</a>, <a href="https://www.facebook.com/samantha.camus.39">Facebook</a>, and <a href="https://twitter.com/xdothackerx">Twitter</a>.
</div>
<br>
<%= render 'form' %>
<br>
<div align="center">
  <%= link_to "Back", :back %>
</div>
