<% render 'flash' %>
<div align="center"><h1>Say Hello!</h1>
  <br> This email function still has to be hooked up to a SMTP server, so it doesn't work yet. :( <br>
  <b>I currently will not receive emails sent to me from this page. Sorry!</b><br><br>
  You can find me on <a href="https://github.com/xdothackerx">Github</a>, <a href="https://www.linkedin.com/in/samanthacamus">LinkedIn</a>, <a href="https://www.facebook.com/samantha.camus.39">Facebook</a>, and <a href="https://twitter.com/xdothackerx">Twitter</a> though!
  <!-- Questions? Want to speak with me personally? Feel free to email me! -->
</div>
<br>
<%= render 'form' %>
<br>
<div align="center">
  <%= link_to "Back", :back %>
</div>
