<% render 'flash' %>
<div align="center"><h1>Say Hello!</h1>
  <br>
  Questions? Want to speak with me personally? Feel free to email me!
</div>
<br>
<%= render 'form' %>
<br>
<div align="center">
  <%= link_to "Back", :back %>
</div>
