$purple: #97729B;
$dark-purple: #3A173E;
$light-purple: #DC87D6;
$vivid-purple: #FF6AF4;
$pastel-purple: #EFD5ED;

$green: #4FB254;
$dark-green: #174900;
$light-green: #A7FF80;
$vivid-green: #01FE0C;
$pastel-green: #D9F6CC;

$cyan: #00B7A2;
$dark-cyan: #014F46;
$light-cyan: #A5FEDE;
$vivid-cyan: #00FFA3;
$pastel-cyan: #E6FFF6;

$gray: #7F7F7F;
$dark-gray: #2A2A2A;
$light-gray: #D9D9D9;

.green-box {
  background-color: $vivid-green;
}

.cyan-box {
  background-color: $vivid-cyan;
}

.purple-box {
  background-color: $light-purple;
}

.gray-box {
  background-color: $gray;
}

.top-bar-section .has-form {
  height: 1.75em;
}

.login-button {
  margin-top: 1em;
  background-color: $dark-gray;
  border-style: solid;
  border-color: $vivid-cyan;
  border-width: .25em;
  border-radius: 2px;
  height: 2.25em;
}

.login-button a {
  color: $light-gray;
}
.top-bar-section > ul > .divider {
  height: 1.75em;
}

.callout-panel {
  @include panel(
    $bg: scale-color($pastel-purple, $lightness: 50%),
    $adjust:true
  );
}

.grad-panel {
  @include panel();
  background: -webkit-linear-gradient($pastel-cyan, $pastel-purple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($pastel-cyan, $pastel-purple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($pastel-cyan, $pastel-purple); /* For Firefox 3.6 to 15 */
  background: linear-gradient($pastel-cyan, $pastel-purple); /* Standard syntax */
}

.bottom-bar {
  position: fixed;
  z-index: 1;
  bottom: 0em;
  height: 1.5em;
  width: 100%;
  background-color: $light-gray;
  border-top: .25em solid $gray;
  border-color: $gray;
}

.footer-box {
  width: 20em;
  height: 2em;
  positon: fixed;
  margin-top: -1em;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-gray;
  border-style: solid;
  border-color: $gray;
  border-width: .25em;
  border-radius: 2px;
  font-size: .8em;
  font-family: "homespun_tt_brkregular";
  color: $cyan;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
}

.footer-box a {
  color: $light-gray;
}

.footer-box a:hover {
  color: $purple;
}

.panel.callout a:not(.button) {
  color: $purple;
}

.panel.callout a:hover {
  color: $dark-purple;
}
